
h1{
	text-align: right;
	font-family: 'Rancho', Serif;
	font-size: 80px;
	color: #fff;
	font-weight: bold;
	padding-top: 20px;
}

h2{
	text-align: center;
	font-family: 'Alegreya', Serif;
	font-size: 100px;
	font-weight: normal;
}

h3{
	text-align: left;
	font-family: 'Rancho', serif;
	/*font-family: 'Satisfy', cursive;*/
	/*font-family: 'Lora', serif;*/
	font-size: 20px;
	color: #fff;
	padding: 0px;
	padding-left: 40px;
}

a{
	font-variant: small-caps;
	color: #fff !important;
	font-style: oblique;
	font-weight: bolder;
	font-size: 25px !important;
}

ul a{
	font-variant: small-caps;
	color: #ffd800 !important;
	font-style: normal;
	font-size: 25px !important;
	font-weight: normal;
}

.navbar-nav>li>a{
	padding-top: 60px;
}

.yellow{
	color:#ffd800 !important;
	font-size: 60px;
}

.yellow2{
	color: #ffd800 !important;
	font-size: 90px;
}

#home{
	height: 45px;
	width: 100%;
	background-image: url(/img/4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
}

.navbar-inverse{
	background-color: #1f1f1f;
}

.fs{
	font-size: 16px;
}

.bg-black{
	background-image: url(/img/4.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	height: 15%;
	padding-bottom: 10px;
}

hr{
	border-top: 2px solid #ffd800;
	width: 150px;

}

.inline-elements{
	display: inline-block;
} 
.item:nth-child(1) {
    background: url(/img/1.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(2) {
    background: url(/img/2.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.item:nth-child(3) {
    background: url(/img/3.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.carousel {
    z-index: -99;
}
.carousel .item {
    position: fixed;
    width: 100%;
    height: 100%;
}

.form-control{
	width: 60%;
	color: #ffd800;
	font-weight: bolder;
	background-color: rgba(0,0,0,0);
}

#description{
	background-image: url(/img/0.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center center;
	padding-bottom: 80px;
	padding-top: 17%;
	height: 678px;
	width: 100%;
}

input[type="text"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #ffd800;
  font-weight: bolder;
  background-color: rgba(0,0,0,0);
}

input[type="text"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #fff;
}

input[type="email"],
select.form-control {
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  color: #ffd800;
  font-weight: bolder;
  background-color: rgba(0,0,0,0);
}

input[type="email"]:focus,
select.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 2px solid #fff;
}

.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

.img{
	height: 70%;
	width: 80%;
}

a{
	font-family: 'Alegreya', Serif;
}

.d1{
	padding-bottom: 30px;
	transform-origin: right bottom;
  	transform: skewY(2deg);
}


.d{
	transform: skewY(-2deg);
}

.arrow_down{
	color: #2f2f2f;
	font-size : 40px !important;
	position: absolute;
    bottom: 30px;
    left: 47%;
}

.navbar-inverse {
	background-color: rgba(0,0,0,0);
	position: absolute;
}

#reg{
	margin-top: 30px;
	margin-left: 20%;
	margin-bottom: 30px;
	margin-right: 20%;
	box-shadow: inset 100px 100px 100px 100px rgba(255,255,255,0.4);
	border-radius: 4%;
}

.logo img{
	width: 120px;
	height: 120px;
}

.mlogo img{
	width: 100px;
	height: 100px;
}

.mlogo{
	align-self: center;
}

.pad{
	padding-top: 20px;
	padding-bottom: 20px;
}

.info{
	font-size: 35px !important;
	padding-left: 50px;
}

.navbar-toggle{
	margin-top: 60px;
}

.btn-transparent{
	color: #fff;
	background-color: #ffd800;
	font-weight: bold;
}

@media only screen and (max-width: 810px) {
	#reg{
		margin-top: 30px;
		margin-left: 5%;
		margin-bottom: 30px;
		margin-right: 5%;
		box-shadow: inset 100px 100px 100px 100px rgba(255,255,255,0.4);
		border-radius: 4%;
	}
	.form-control{
		width: 90%;
		color: #ffd800;
		font-weight: bolder;
		background-color: rgba(0,0,0,0);
	}
	.yellow2{
		color: #ffd800 !important;
		font-size: 60px;
	}
	.arrow_down{
		color: #2f2f2f;
		font-size : 40px !important;
		position: absolute;
    	bottom: 25px;
    	left: 43%;
	}
	h1{
	text-align: center;
	font-family: 'Rancho', Serif;
	font-size: 80px;
	color: #fff;
	font-weight: bold;
	padding-top: 20px;
	}

	h3{
		text-align: center;
		font-family: 'Rancho', serif;
		/*font-family: 'Satisfy', cursive;*/
		/*font-family: 'Lora', serif;*/
		font-size: 20px;
		color: #fff;
		padding: 0px;
		padding-left: 40px;
	}
	#description{
		background-image: url(/img/0.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		padding-bottom: 80px;
		padding-top: 25%;
		height: 678px;
		width: 100%;
	}
}

@media only screen and (max-width: 810px) {
	#reg{
		margin-top: 30px;
		margin-left: 5%;
		margin-bottom: 30px;
		margin-right: 5%;
		box-shadow: inset 100px 100px 100px 100px rgba(255,255,255,0.4);
		border-radius: 4%;
	}
	.form-control{
		width: 90%;
		color: #ffd800;
		font-weight: bolder;
		background-color: rgba(0,0,0,0);
	}
	.yellow2{
		color: #ffd800 !important;
		font-size: 60px;
	}
	.arrow_down{
		color: #2f2f2f;
		font-size : 40px !important;
		position: absolute;
    	bottom: 25px;
    	left: 35%;
	}
	h1{
	text-align: center;
	font-family: 'Rancho', Serif;
	font-size: 80px;
	color: #fff;
	font-weight: bold;
	padding-top: 20px;
	}

	h3{
		text-align: center;
		font-family: 'Rancho', serif;
		/*font-family: 'Satisfy', cursive;*/
		/*font-family: 'Lora', serif;*/
		font-size: 20px;
		color: #fff;
		padding: 0px;
	}
	#description{
		background-image: url(/img/0.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: fixed;
		background-position: center center;
		padding-bottom: 80px;
		padding-top: 35%;
		height: 678px;
		width: 100%;
	}
}
