{% extends "main.html" %}

{% block body %}
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                All Items
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">All Items</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
        -->
</section>

<section class="content">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
        {% endwith %}
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">All Data! :)</h3>
                </div>
                <div class="box-body">
                    <div class="dataTables_wrapper form-inline dt-bootstrap">
                        <table id="example" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>S. No</th>
                                    <th>Name</th>
                                    <th>Symbol</th>
                                    <th>Percent Change 1h</th>
                                    <th>Percent Change 24h</th>
                                    <th>Price USD</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <tr>
                                        {% for neededData in neededDatas %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ neededData.name }}</td>
                                        <td>{{ neededData.symbol }}</td>
                                        <td>{{ neededData.percent_change_1h}}</td>
                                        <td>{{ neededData.percent_change_24h}}</td>
                                        <td>{{ neededData.price_usd}}</td>
                                    </tr>
                                {% endfor %}
                                    </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
</section>
    </div>
{% endblock %}
