{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Download Zip!!
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-primary">
                <p style="color: #1c2529">{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="box">
                <div class="box-header">
                    Enter the necessary details for downloading files
                </div>
                <div class="box-body">
            <form action="{{ url_for('downloadCSV')}}" method="post">

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group has-feedback">
                            <label for= "id" >Enter the number of hours</label>
                            <input class="form-control" name="id" placeholder="Enter the number of hours"
                                   value="10" required>
                        </div>
                    </div>
                </div>
            <div class="row">
                    <div class="col-lg-4 col-sm-offset-2" style="position: relative; margin: 0 auto; left: 115px;">
                        <input type="submit" class="btn btn-primary btn-block" value="Submit" >
                    </div>
                </div>
            </form>
                </div>
            </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box">
                    <div class="box-header">
                        Enter the necessary details for getting average
                    </div>
                    <div class="box-body">
                        <form action="{{ url_for('averageCSV')}}" method="post">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">
                                        <label for= "id" >Enter the number of hours</label>
                                        <input class="form-control" name="id" placeholder="Enter the number of hours"
                                   value="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-offset-2" style="position: relative; margin: 0 auto; left: 115px;">
                                    <input type="submit" class="btn btn-primary btn-block" value="Submit" >
                                </div>
                                <div class="col-lg-4 col-sm-offset-2" style="position: relative; margin: 0 auto; left: 115px;">
                                    <a href="{{url_for('downloadAverage')}}" class="btn btn-danger btn-block">Download</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="box">
                    <div class="box-header">
                        Enter the necessary details for Data
                    </div>
                    <div class="box-body">
                        <form action="{{ url_for('checkAllData')}}" method="get">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group has-feedback">
                                        <label for= "id" >Enter the number of hours</label>
                                        <input class="form-control" name="id" placeholder="Enter the number of hours"
                                   value="10" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4 col-sm-offset-2" style="position: relative; margin: 0 auto; left: 115px;">
                                    <input type="submit" class="btn btn-primary btn-block" value="Submit" >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</section>
</div>
{% endblock %}